body {
  background-color: #f6f6f6;
  font-family: sans-serif;
}

div {
}

h2 {
  font-family: Georgia;
  font-size: 21px;
  border-bottom: 1px solid gray;
}

h4 {
  font-size: 16.8px;
  border-style: solid;
  font-weight: bold;
  border-width: 1px;
  width: 100%;
  padding: 3px;
}

.bg-danger {
  background-color: #f9f9f9;
  border: 1px solid #ddd
}

.bg-info {
  background-color: #f5faff;
  border: 1px solid #cedff2;
}

.bg-success {
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
}

.bg-warning {
  background-color: #faf5ff;
  border: 1px solid #ddcef2;
}

.blue {
  border-color: #a3b0bf;
  background-color: #cedff2;
}

.center {
  text-align: center;
}

.footer {
  float: right;
  font-size: 11.2px;
  text-align: left;
}

.green {
  border-color: #a3bfb1;
  background-color: #cef2e0;
}

.purple {
  border-color: #afa3bf;
  background-color: #ddcef2;
}

.thumbnail {
  float: right;
  text-align: center;
  font-size: 11.2px;
  width: 130px;
  background-color: transparent;
  border-style: none;
}

.white-bg {
  background-color: white;
  border: 1px solid blue;
  float: right;
}
